* {
    padding: 0;
    margin: 0;
}

#home{
    min-height: calc(100vh - 80px);
}

header {
    background: snow;
}

button {
    cursor: pointer;
    outline-style: none;
    border: 3px solid black;
    background: black;
    color: white;
    display: block;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

button::before,
button::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: snow;
    top: 0;
    left: -100%;
    transition: .5s;
    opacity: .5;
}

button:hover {
    color: black;
    background: white;
}

button:hover::before,
button:hover::after {
    left: 0;
}

.headerBlock {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.headerBlock {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

#login {
    text-decoration: none;
    width: 100px;
    text-align: center;
    font-size: 1.05em;
    margin-right: 10%;
}

#homeLink, #feedLink, #logInLink {
    text-decoration: none;
    font-size: 1em;
    font-family: "Comic Sans MS";
    color: black;
}

#linkBlock {
    position: absolute;
    width: max-content;
    margin-left: 13%;
    margin-top: 10px;
}

#homeLink {
    margin-left: 10px;
}

#feedLink {
    margin-left: 20px;
}

#logInLink {
    margin-left: 30px;
}

#search {
    position: absolute;
    font-size: 1.05em;
    height: 25px;
    margin-left: 40%;
    margin-top: 5px;
}

#appName {
    position: relative;
    font-family: "Magic Wix Script RUS";
    font-size: 2em;
}

footer {

    text-align: center;
}